// Place all the styles related to the smailex controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
	margin: 0;
}
html, body, input, textarea{
	font-family: Helvetica, Arial, sans-serif;
	color:#333;
}
h1{
	margin: 5px 0 10px;
	float: left;
}

.status{
	display: inline-block;
	margin: 18px;
}
.okay{
	color: green;
}

.err{
	color: red;
}

.container{
	width: 960px;
	margin: 0 auto;
}
.one-half{
	width: 49%;
	float:left;
}
	
.control_string{
	padding:  5px 0;
}
.form_string{
	margin: 5px 0;
}
input{
	font-size: 14px;
	border: solid #ccc 1px;
	border-radius: 3px;
	padding: 5px;
}
input[type="radio"]{
	margin: 8px 5px;
}

input[disabled]{
	background: rgba(196,196,196,.4);
}

label.no-float{
	float: none;
}

.float-label label{
	float: left;
	width: 155px;
	text-align: right;
	padding: 6px 5px 0 0;
	font-size: 14px;
}
.long{
	width: 60%;
}
.short{
	width: 130px;
}
.longest{
	width: 750px;
}
.floated{
	float: left;
	margin: 10px 0;
}
button.action{
	margin: 20px 10px;
	display: inline-block;
	padding: 20px 70px;
	color: #ffffff;
	background-color: #5cb85c;
	border-color: #4cae4c;
	display: inline-block;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.428571429;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-user-select: none;
}
button.action:hover,button.action:active{
	color: #ffffff;
	background-color: #47a447;
	border-color: #398439;
}
.center{
	text-align: center;
}
.padding{
	padding-left: 50px;
}

.margin-input{
	margin-left: 1px;
}

.margin-label{
	margin-left: 38px;
}
#response{
	margin-bottom: 30px;
	width: 100%;
	font-family: monospace;
	margin-top: 10px;
}
.loading{
	width: 100%;
	text-align: center;
}
.single_package{
	background: rgba(150,150,150,0.2);
	padding-bottom: 6px;
	border-radius: 5px;
}

#add_package{
	border-bottom: dotted 1px #428bca;
	color: #428bca;
	margin-left: 160px;
	cursor: pointer;
	padding-top: 10px;
	display: inline-block;
}
.remove_package{
	margin-left: 932px;
	position: relative;
	top: -33px;
	background: url("/assets/remove.png") no-repeat;
	width: 20px;
	display: inline-block;
	height: 20px;
	cursor: pointer;
}